@page "/notebook"

<MudPaper Class="pa-16 ma-2" Elevation="0">
    <h3>Notebook</h3>
<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="Add Notes">
        Panel One Content
    </MudExpansionPanel>
</MudExpansionPanels>
</MudPaper>
@code {

}
